<div class="flex justify-center items-center h-screen">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md">
      <div class="mb-4">
        <h2 class="text-2xl font-bold mb-2">Connectez vous à vôtre compte</h2>
      </div>
      <form>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="email">
            Adresse mail
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Enter your email">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2" for="password">
            Mot de passe
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Enter your password">
        </div>
        <!-- ON VA SUREMENT ENLEVER LE MOT DE PASSE OUBLIE  -->
        <div class="flex items-center justify-between">
          <p>Pas de compte ? </p>
          <a routerLink="/register" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
            Créez s'en un ici !
          </a>
        </div>
        <div class="flex justify-center mt-4">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Connexion
          </button>
        </div>
      </form>
    </div>
  </div>

  <router-outlet></router-outlet>   